
Bin/Debug/iOS/liblibMoshine.Foundation.a
Bin/Debug/iOS/liblibMoshine.Foundation.fx
Bin/Debug/iOS/libMoshine.Foundation.h
Bin/Debug/macOS/liblibMoshine.Foundation.a
Bin/Debug/macOS/liblibMoshine.Foundation.fx
Bin/Debug/macOS/libMoshine.Foundation.h
Bin/Debug/tvOS/liblibMoshine.Foundation.a
Bin/Debug/tvOS/liblibMoshine.Foundation.fx
Bin/Debug/tvOS/libMoshine.Foundation.h
Bin/Debug/watchOS/liblibMoshine.Foundation.a
Bin/Debug/watchOS/liblibMoshine.Foundation.fx
Bin/Debug/watchOS/libMoshine.Foundation.h
Moshine.Foundation.sln.fire.cache
Moshine.Foundation.sln.fire.user
Bin/Debug/Echoes.dll
Bin/Debug/Echoes.dll.mdb
Bin/Debug/Elements.dll
Bin/Debug/Elements.dll.mdb
Bin/Debug/Moshine.Foundation.deps.json
Bin/Debug/Moshine.Foundation.dll
Bin/Debug/Moshine.Foundation.dll.mdb
Bin/Debug/Newtonsoft.Json.dll
Bin/Debug/Newtonsoft.Json.xml
Moshine.Foundation.sln.fire.cache
Moshine.Foundation.sln.fire.user
